<app-header></app-header>


<main>
  <section class="hero-section">
    <h1>Conoce a Marisol, la artista detrás de la alfarería artesanal</h1>
    <video autoplay loop class="hero-video" controls muted>
      <source src="../../assets/video/video1.mp4" type="video/mp4">
    </video>
  </section>

  <section class="about-section">
    <h2>El taller</h2>
    <p>En nuestro taller de alfarería artesanal, estamos comprometidos con la creación de piezas únicas y llenas de vida.</p>
    <p>La artista, Marisol, ha encontrado su verdadera pasión en la creación de piezas de cerámica, y su dedicación y talento se reflejan en cada una de sus creaciones.</p>
    <img src="../../assets/images/Marisol.jpg" alt="" width="900">
  </section>
  
  <section class="services-section">
    <h2>Nuestros Servicios</h2>
    <ul>
      <li>Piezas únicas de cerámica torneadas, pintadas y esmaltadas a mano, de principio a fin.</li>
      <li>Personalización de piezas según tus preferencias</li>
    </ul>
    <img src="../../assets/images/nosotros.jpg" alt="" width="900">
  </section>

  <section class="contact-section">
    <h2>Contacto</h2>
    <p>No dudes en ponerte en contacto con nosotros si tienes alguna pregunta o estás interesado en nuestros servicios. Estamos disponibles por teléfono y correo electrónico.</p>
    <ul>
      <li><b>Teléfono:</b> +91 987 654 321</li>
      <li><b>Correo electrónico:</b> alfareria@gmail.com</li>
    </ul>
    <img src="../../assets/images/nosotros3.jpg" alt="" width="900">
  </section>
</main>

<app-footer></app-footer>

