<app-header></app-header>
<div class="container my-5">

  <table class="table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrayProductos">
        <td><img src="{{ item.imagen_url}}" alt="" width="100"></td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.precio }} €</td>
        <td>{{ item.cantidad * item.precio }} €</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">Total:</td>
        <td>{{ total }} €</td>
      </tr>
    </tfoot>
  </table>
  <div class="text-end mb-3">
    <button class="btn btn-primary" (click)="realizarPedido()">Realizar pedido</button>
  </div>
 
</div>
<app-footer></app-footer>
