<app-header></app-header>

<section class="inner_page_head">
    <div class="container_fuild">
       <div class="row">
          <div class="col-md-12">
             <div class="full">
                <h3>Crear Producto</h3>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Form Section -->
 <section class="why_section layout_padding">
    <div class="container">
    
       <div class="row">
          <div class="col-lg-8 offset-lg-2">
             <div class="full">
               <form (ngSubmit)="onSubmit(formulario)" #formulario="ngForm">
                   <fieldset>
                     <input type="text" placeholder="Nombre" name="nombre" required [(ngModel)]="campos.nombre" />
                     <input type="text" placeholder="Descripcion" name="descripcion" required [(ngModel)]="campos.descripcion" />
                     <input type="text" placeholder="Precio" name="precio" required [(ngModel)]="campos.precio" />
                     <input type="number" placeholder="Stock" name="stock" required [(ngModel)]="campos.stock" />
                     <input type="text" placeholder="URL imagen" name="imagen_url" required [(ngModel)]="campos.imagen_url" />
                     <input type="text" placeholder="Categoria" name="categoria" required [(ngModel)]="campos.categoria" />
                     <input type="submit" value="Añadir Producto">
                   </fieldset>
                   <div *ngIf="created" class="alert alert-success mt-3" role="alert">
                     <button type="button" class="close" data-dismiss="alert">x</button>
                     Producto creado correctamente
                   </div>
                </form>
             </div>
          </div>

       </div>
    </div>
 </section>

 <app-footer></app-footer>