<app-header></app-header>
<section class="inner_page_head">
    <div class="container_fuild">
       <div class="row">
          <div class="col-md-12">
             <div class="full">
                <h3>Contacto</h3>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Form Section -->
 <section class="why_section layout_padding">
    <div class="container">
    
       <div class="row">
          <div class="col-lg-8 offset-lg-2">
             <div class="full">
                <form action="index.html">
                   <fieldset>
                      <input type="text" placeholder="Nombre completo" name="name" required />
                      <input type="email" placeholder="Email" name="email" required />
                      <input type="text" placeholder="Asunto" name="subject" required />
                      <textarea placeholder="Mensaje" required></textarea>
                      <input type="submit" value="Enviar" />
                   </fieldset>
                </form>
             </div>
          </div>
       </div>
    </div>
 </section>
<app-footer></app-footer>